.welcome-div {
    width: 77%;
    height: 130px;
    /* background-color: #242731; */
    margin-left: 20%;
    padding-top: 4%;
  }
  
  .welcome-one {
    color: white;
    font-family: 'Abel', sans-serif;
    font-weight: normal;
    text-align: left;
    padding: 0;
    margin: 0;
  }
  
  .welcome-two {
    color: white;
    font-family: 'Abel', sans-serif;
    font-weight: normal;
    text-align: left;
    padding: 0;
    margin: 0;
    margin-top: 2%;
  }
  
  .calendar-con {
    float: left;
    width: 40%;
    height: 70vh;
    /* background-color: #242731; */
    margin-left: 20%;
    margin-right: 2%;
  }
  
  .DP-con {
    float: left;
    width: 35%;
    height: 150vh;
    /* background-color: #242731; */
    /* margin-left: 2%; */
    margin-top: -140px;
  }
  
  .calendar-heading {
    text-align: center;
    color: white;
    font-family: 'Abel', sans-serif;
    font-weight: normal;
  }
  
  .calendar {
    width: 100%;
    height: 85%;
    background-color: #3F8CFF;
    margin: 0 auto;
    border-radius: 25px;
  }
  
  .D-heading {
    text-align: center;
    color: white;
    font-family: 'Abel', sans-serif;
    font-weight: normal;
  }
  
  .P-heading {
    padding-top: 50px;
    text-align: center;
    color: white;
    font-family: 'Abel', sans-serif;
    font-weight: normal;
  }
  
  .d-display {
    /* background-color: aqua; */
    width: 100%;
    height: 70vh;
    overflow: scroll;
    scrollbar-width: thin;
  }
  
  .d-display::-webkit-scrollbar:horizontal {
    display: none;
  }
  
  .d-display::-webkit-scrollbar {
    /* display: none; */
    width: 7px;
  }
  
  /* Track */
  .d-display::-webkit-scrollbar-track {
    background: #303030;
    border-radius: 10px;
  }
  
  /* Handle */
  .d-display::-webkit-scrollbar-thumb {
    background: #3F8CFF;
    border-radius: 10px;
  }
  
  
  
  .p-display {
    /* background-color: aqua; */
    width: 100%;
    height: 45vh;
    overflow: scroll;
  }
  
  .p-display::-webkit-scrollbar:horizontal {
    display: none;
  }
  
  .p-display::-webkit-scrollbar {
    /* display: none; */
    width: 7px;
  }
  
  /* Track */
  .p-display::-webkit-scrollbar-track {
    background: #303030;
    border-radius: 10px;
  }
  
  /* Handle */
  .p-display::-webkit-scrollbar-thumb {
    background: #3F8CFF;
    border-radius: 10px;
  }
  
  
  
  
  
  
  
  .entry-con {
    width: 90%;
    height: 50px;
    background-color: #242731;
    margin: 0 auto;
    border-radius: 10px;
  }
  
  .entry {
    color: white;
    font-family: 'Abel', sans-serif;
    font-weight: normal;
    /* text-align: left; */
    font-size: 11pt;
    /* padding-top: 7%; */
  }

  .heading{
    font-size: 13pt;
  }
  
  .align-left {
    padding-left: 5px;
    /* width: 20px; */
    /* width: auto; */
    text-align: left;
    margin: 0 auto;
    float: left;
    margin: 0;
    padding: 0;
    padding-top: 3%;
    padding-left: 10px;
  }
  
  .align-center {
    float: left;
    margin: 0;
    padding: 0;
    padding-left: 10%;
    padding-top: 3%;
    text-align: center !important;
    margin: 0 auto !important;
  }
  
  .align-right {
    float: right;
    /* width: 40px; */
    text-align: right !important;
    margin: 0;
    margin-right: 0;
    padding-top: 0;
    padding-top: 3%;
    padding-right: 10px;
  }
  
  .spacing {
    margin-top: 20px;
  }